$baseColors: (
    "background": #83e90d,
    "backgroundDark": #941625,
);

$vhCalculation: (
    "headerHeight": 8rem,
    "bodyPadding": 4rem,
);

$avatarColors: (
    "colorOne": #AA77FF,
    "colorTwo": #66347F,
);
