$font-family: 'Ubuntu', sans-serif;

$card-bg-color: #F5F5F5;
$card-border-radius: 10px;
$card-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

$primary-color: #FF7F50;
$accent-color: #F0E68C;
$background-color: #F5F5F5;
$text-color: #000000;
$secondary-text-color: #808080;